<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellefair">
  </head>
  <body>
    <h1>?? Mystery Word ??</h1>

    <h2>You WON!</h2>

    <div id='playagain'>
      <h4><a href='/'>Play again</a></h4>
    </div>

  </body>
</html>
