body {
  margin: 0;
  }

h1 {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  line-height: 3em;
  font-family: 'Bellefair', serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 3em;
  font-stretch: extra-expanded;
  text-align: center;
  letter-spacing: 0.5em;
}

form {
  width: 25%;
  margin: 0 auto;
}

fieldset {
  text-align: center;
  border-style: none;
  text-transform: uppercase;
}

legend {
  margin: 0 auto;
  padding: 0 5px;
  font-family: 'Bellefair', serif;
}

section {
  width: 960px;
  margin-left: 33%;
  display: flex;
  flex-wrap: wrap;
}

div {
  flex-basis: 40%;
}

p {
  color: red;
  letter-spacing: .5em;
  font-weight: bold;
}

/*#word {
  visibility: hidden;
}*/
