body {
  margin: 0;
  }

h1 {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  line-height: 3em;
}

h2 {
  font-size: 3em;
  font-stretch: extra-expanded;
  text-align: center;
  letter-spacing: 0.5em;
}

form {
  width: 25%;
  margin: 0 auto;
}

fieldset {
  text-align: center;
  border-style: none;
  text-transform: uppercase;
}

legend {
  margin: 0 auto;
  padding: 0 5px;
}

h4 {
  padding-left: 40%;
}

p {
  padding-left: 40%;
}
